/* CSS Document */
* {
    box-sizing:border-box;
}

body {

    margin:0;
    font-family:'Montserrat',sans-serif;

    background:#080808;
    color:white;

}


header {

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:30px 8%;

}


.logo {

    font-size:24px;
    font-weight:800;

}

.logo span {

    display:block;
    color:#D4AF37;
    letter-spacing:8px;
    font-size:12px;

}



nav a {

    color:white;
    text-decoration:none;
    margin-left:30px;

}



.hero {

    min-height:90vh;

    display:flex;
    align-items:center;

    padding:8%;

    background:

    linear-gradient(
    rgba(0,0,0,.75),
    rgba(0,0,0,.95)
    ),

    url("images/hero-placeholder.jpg");

    background-size:cover;
    background-position:center;

}



.small-title {

    color:#D4AF37;
    letter-spacing:3px;

}


h1 {

    font-size:70px;
    line-height:1.05;

}



.hero p {

    font-size:22px;

}



.buttons {

    margin-top:40px;

}


.btn {

    display:inline-block;

    padding:15px 30px;

    border:1px solid #D4AF37;

    color:white;

    text-decoration:none;

    margin-right:15px;

}



.gold {

    background:#D4AF37;
    color:black;

}



.section {

    padding:80px 8%;

}



.dark {

    background:#111;

}



h2 {

    font-size:42px;

}



.section p {

    max-width:800px;

    line-height:1.8;

}



.cards {

    display:flex;
    flex-wrap:wrap;
    gap:20px;

    margin-top:40px;

}


.card {

    flex:1;
    min-width:250px;

    background:#181818;

    padding:30px;

    border:1px solid #222;

}



.card h3 {

    color:#D4AF37;

}



.contact a {

    display:block;

    color:white;

    text-decoration:none;

    margin:15px 0;

}



footer {

    text-align:center;

    padding:40px;

    border-top:1px solid #222;

    color:#D4AF37;

}



@media(max-width:700px){

    h1{
        font-size:45px;
    }

    header{

        flex-direction:column;
        gap:20px;

    }

}